{% extends "monitoring/index.html" %}

{% load i18n %}

{% block content %}
    <!-- NADPIS -->
    <div class="container-fluid" id="container-wrapper">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">{% trans "Zařízení" %}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-4">
                <div class="card-header py-3 justify-content-between">
                    <div class="row">
                        <div class="col-lg-6">
                            <h6 class="m-0 font-weight-bold text-primary">{% trans "Detail zařízení" %}: {{ zarizeni.nazev }}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

