{% load i18n %}
<style>
    .fa-arrow-down {
        color: green;
    }
    .fa-arrow-up {
        color: red;
    }
    #brany-dataTable td, #brany-dataTable th {
        padding: .3rem;
    }
</style>

<div class="table-responsive p-3">
    <table class="table align-items-center table-flush" id="brany-dataTable">
        <thead class="thead-light">
            <tr>
                <th>{% trans "Datum" %}</th>
                <th>{% trans "Čas" %}</th>
                <th>{% trans "Zařízení" %}</th>
                <th>{% trans "Data" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for zprava in zpravy %}
                <tr>
                    <td>{{ zprava.created|date:'d.m.Y' }}</td>
                    <td>{{ zprava.created|date:'H:i:s' }}</td>
                    <td>{{ zprava.zarizeni.nazev }}</td>
                    <td>{{ zprava.text_data|default:"" }} </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">
                        {% trans "Žádné zprávy" %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
</script>