{% extends "monitoring/index.html" %}

{% load i18n %}

{% block content %}
    <!-- NADPIS -->
    <div class="container-fluid" id="container-wrapper">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">{% trans "Brány" %}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-4">
                <div class="card-header py-3 justify-content-between">
                    <div class="row">
                        <div class="col-lg-6">
                            <h6 class="m-0 font-weight-bold text-primary">{% trans "Seznam bran" %}</h6>
                        </div>
                        <div class="col-lg-6 pull-right">
                            <a href="{% url 'monitoring:uzivatel-create' %}" class='btn btn-sm btn-success'><i class="fas fa-plus"></i>&nbsp;{% trans "Přidat" %}</a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive p-3">
                    <table class="table align-items-center table-flush" id="brany-dataTable">
                    <thead class="thead-light">
                        <tr>
                            <th>{% trans "Uživatelské jméno" %}</th>
                            <th>{% trans "Jméno" %}</th>
                            <th>{% trans "Příjmení" %}</th>
                            <th>{% trans "Email" %}</th>
                            <th>{% trans "Poslední přihlášení" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for uzivatel in uzivatele %}
                            <tr>
                                <td>{{ uzivatel.username }}&nbsp;<a href="{% url 'monitoring:uzivatel-edit' uzivatel.pk %}"><i class="far fa-edit"></i></a></td>
                                <td>{{ uzivatel.first_name }}</td>
                                <td>{{ uzivatel.last_name }}</td>
                                <td>{{ uzivatel.email }}</td>
                                <td>{{ uzivatel.last_login|date:"d.m.Y H:i" }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="5">
                                    {% trans "Není nastaven žádný uživatel" %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
