.pull-right{
    text-align: right !important;
}
#id_povolena, #id_povoleno, #id_povolen{
    width: auto;
}

.href-grey{
    color: #757575;
    text-decoration: underline;
}

.fa-green {
    color: green;
}

.fa-red {
    color: red;
}

#brany-dataTable td, #brany-dataTable th {
    padding: .3rem;
}

#zpravy-dataTable td, #zpravy-dataTable th {
    padding: .3rem;
}

.v-middle{
    vertical-align: middle !important;
}

.toggle-handle{
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}