{% extends "monitoring/gateway/list.html" %}

{% load i18n %}

{% block content %}
    <div class="container-fluid" id="container-wrapper">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">{% trans "Zabbix" %}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-4">
                <div class="card-header py-3 justify-content-between">
                    <div class="row">
                        <div class="col-lg-6">
                            <h6 class="m-0 font-weight-bold text-primary">{% if form.instance.pk %}{% trans "Upravit Zabbix" %}{% else %}{% trans "Nový Zabbix" %}{% endif %}</h6>
                        </div>
                    </div>
                </div>
                <div class="table-responsive p-3">
                    <form 
                        action="#"
                        method="post" 
                        id="zabbix-form" 
                        role="form" 
                        class="form-horizontal">
                        {{ form.media.css }}
                        {{ form.media.js }}
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary form-control">{% trans "Uložit" %}</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
{% block js %}
{% endblock %}
