{% load i18n %}

<div class="table-responsive p-3">
    <table class="table align-items-center table-flush" id="brany-dataTable">
        <thead class="thead-light">
            <tr>
                <th class="text-center">{% trans "Status" %}</th>
                <th>{% trans "Datum" %}</th>
                <th>{% trans "Čas" %}</th>
                <th>{% trans "Zabbix" %}</th>
                <th>{% trans "Data" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for zprava in zpravy %}
                <tr>
                    <td class="text-center">{% if zprava.odeslano %}<i class="fas fa-check-circle fa-green"></i>{% else %}<i class="fas fa-times-circle fa-red"></i>{% endif %}</td>
                    <td>{{ zprava.created|date:'d.m.Y' }}</td>
                    <td>{{ zprava.created|date:'H:i:s' }}</td>
                    <td>{{ zprava.data }}</td>
                    <td>{{ zprava.get_typ_zpravy_display }}</td>
                    <td>{{ zprava.payload|default:""|safe|truncatechars:30 }}{% if zprava.payload %}&nbsp;<i class="far fa-comment-dots" data-toggle="popover" data-placement="left" data-trigger="click" data-content="{{ zprava.payload|addslashes }}"></i>{% endif %}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">
                        {% trans "Žádné zprávy" %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    $(function () {
        $('[data-toggle="popover"]').popover();
    });
</script>